#title_label {
  border: solid $secondary;
  border-subtitle-align: left;
  width: 100%;
}

#new_chat_button {
  color: $paper;
  text-style: bold;
  width: 100%;
}

#no-chats-label {
  width: 1fr;
  height: 1fr;
  content-align: center middle;
}
